<ng-container *ngIf="data">
    <div class="ashade-page-title-wrap">
        <h1 class="ashade-page-title"><span>&nbsp;</span>{{data.header}}</h1>
    </div>
    <div class="ashade-home-return ashade-back-wrap">

        <div class="ashade-back is-home-return" (click)="returnBack('/news')">

            <span>Dönüş Yap</span>

            <span>geri</span>

        </div>

    </div>
    <main class="ashade-content-wrap">
        <div class="ashade-content-scroll">
            <div class="ashade-header-holder"></div>
            <div class="ashade-content">
                <section class="ashade-section margin-bot-50px">
                    <!-- <div class="ashade-row">
                        <div class="ashade-col col-12 product-header">
                            <h4>
                               {{'SAYFALAR.HABER-DETAY.BASLIK-GORSELLER' | translate}}
                            </h4>
                            <hr>
                        </div>
                    </div> -->
                    <div class="ashade-row">
                        <div class="ashade-col col-12">
                            <div class="ashade-grid ashade-grid-4cols product-image-gallery">
                                <div class="ashade-grid-item" *ngFor="let image of data.images">
                                    <a [href]="image.link" class="ashade-lightbox-link" data-size="1920x1080">
                                        <img [src]="image.link" [attr.data-src]="image.link+'?width=150'" class="lazy"
                                            [alt]="image.alt">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="ashade-section">
                    <div class="ashade-row">
                        <!-- <div class="ashade-col col-12 product-header">
                            <h4>
                                {{'SAYFALAR.HABER-DETAY.BASLIK-HABER-HAKKINDA' | translate}}
                            </h4>
                            <hr>
                        </div> -->
                        <div class="ashade-col col-12" [innerHTML]="data.descriptionHtml">
                        </div>
                    </div>
                </section>
            </div>
            <app-footer></app-footer>
        </div>
    </main>
</ng-container>