<!-- Home Background -->
<div class="ashade-home-background ashade-page-background is-slider">
    <div class="ashade-kenburns-slider" id="ashade-kenburns01" data-delay="4000" data-zoom="1.2" data-transition="2000">
        <div class="ashade-kenburns-slide" *ngFor="let image of images" [attr.data-src]="image"></div>
    </div><!-- .ashade-kenburns-slider -->
</div>

<!-- Home Links and Titles -->
<div class="ashade-home-link--works ashade-home-link-wrap">
    <div class="ashade-home-link is-link">
        <a [routerLink]="'/'+translate.currentLang+'/products/'">
            <span>{{'SAYFALAR.ANASAYFA.SOL-BASLIK-ACIKLAMA' | translate}}</span>
            <span>{{'SAYFALAR.ANASAYFA.SOL-BASLIK' | translate}}</span>
        </a>
    </div>
</div><!-- .ashade-home-link-wrap -->
<div class="ashade-home-link--contacts ashade-home-link-wrap">
    <div class="ashade-home-link is-link" (click)="locateHref('contact')">
        <a [routerLink]="'/'+translate.currentLang+'/contact/'">
            <span>{{'SAYFALAR.ANASAYFA.SAG-BASLIK-ACIKLAMA' | translate}}</span>
            <span>{{'SAYFALAR.ANASAYFA.SAG-BASLIK' | translate}}</span>
        </a>
    </div>
</div><!-- .ashade-home-link-wrap -->