<!-- Home Background -->
<div class="ashade-home-background ashade-page-background is-video">
    <video src="assets/video/home-bg.mp4" poster="assets/img/bgs/bg-home01.jpg" muted autoplay loop></video>
</div>

<!-- Home Links and Titles -->
<div class="ashade-home-link--works ashade-home-link-wrap">
    <div class="ashade-home-link is-link">
        <span>My Photo Portfolio</span>
        <span>Explore Works</span>
    </div>
</div><!-- .ashade-home-link-wrap -->
<div class="ashade-home-link--contacts ashade-home-link-wrap">
    <div class="ashade-home-link is-link">
        <span>How to find me</span>
        <span>Contact Me</span>
    </div>
</div><!-- .ashade-home-link-wrap -->

<!-- Home Title and Back Button -->
<div class="ashade-page-title-wrap is-inactive ">
    <h1 class="ashade-page-title">&nbsp;</h1>
</div><!-- .ashade-page-title-wrap -->

<div class="ashade-home-return ashade-back-wrap is-inactive">
    <div class="ashade-back is-home-return">
        <span>Return</span>
        <span>Back</span>
    </div>
</div><!-- .ashade-to-top-wrap -->

<!-- Home Contacts Block -->
<div id="ashade-home-contacts">
    <div class="ashade-row">
        <div class="ashade-col col-12">
            <p class="ashade-intro">Nice to meet you, friend! My name is Adrew Shade. I’m a professional photographer from Denver, Colorado. If you have any questions, suggestions or you just want to book a photo session feel free to use the contact form below. Lets make something great together!</p>
        </div>
    </div><!-- .ashade-row -->
    <div class="ashade-row">
        <div class="ashade-col col-4">
            <div class="ashade-contact-details">
                <h4 class="ashade-contact-details__title">
                    <span>My Contacts and Socials</span>
                    How to Find Me
                </h4>
                <ul class="ashade-contact-details__list">
                    <li>
                        <i class="ashade-contact-icon la la-map-marker"></i>
                        1250 Welton St, Denver, CO 80204
                    </li>
                    <li>
                        <i class="ashade-contact-icon la la-phone"></i>
                        <a href="tel:+11234567890">+1 (123) 456 - 78 - 90</a>
                    </li>
                    <li>
                        <i class="ashade-contact-icon la la-envelope"></i>
                        <a href="mailto:a.shade@example.com">a.shade@example.com</a>
                    </li>
                    <li class="ashade-contact-socials">
                        <i class="ashade-contact-icon la la-share-alt"></i>
                        <a href="facebook.html" target="_blank">Fb</a>
                        <a href="twitter.html" target="_blank">Tw</a>
                        <a href="instagram.html" target="_blank">In</a>
                        <a href="500px.html" target="_blank">Px</a>
                    </li>
                </ul>
            </div><!-- .ashade-contact-details -->
        </div>
        <div class="ashade-col col-8">
            <form action="https://demo.shadow-themes.com/html/ashade/mail.php" method="post" class="ashade-contact-form">
                <div class="ashade-row ashade-small-gap">
                    <div class="ashade-col col-4">
                        <input type="text" id="name" name="name" placeholder="Your Name" required>
                    </div>
                    <div class="ashade-col col-4">
                        <input type="email" id="email" name="email" placeholder="Your Email" required>
                    </div>
                    <div class="ashade-col col-4">
                        <input type="tel" id="phone" name="phone" placeholder="Your Phone" required>
                    </div>
                </div>
                <textarea name="message" id="message" placeholder="Your Message" required></textarea>
                <div class="ashade-contact-form__footer">
                    <div class="ashade-contact-form__response"></div>
                    <div class="ashade-contact-form__submit">
                        <input type="submit" value="Send Message">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div><!-- #ashade-home-contacts -->

<!-- Home Works Block -->
<div id="ashade-home-works">
    <div class="ashade-row">
        <div class="ashade-col col-12">
            <p class="ashade-intro">Photography is my passion. Through the lens the world looks different and i would like to show you this difference. You can see it in my albums that are presented here.</p>
            <div class="ashade-albums-grid ashade-grid ashade-grid-3cols is-masonry">
                <div class="ashade-album-item ashade-grid-item">
                    <div class="ashade-album-item__image">
                        <img src="assets/img/albums/masonry/album01.jpg" alt="My Special Day">
                    </div>
                    <h5>
                        <span>Wedding Photos</span>
                        My Special Day
                    </h5>
                    <a href="gallery-slider-parallax.html" class="ashade-album-item__link"></a>
                </div><!-- .ashade-album-item -->
                <div class="ashade-album-item ashade-grid-item">
                    <div class="ashade-album-item__image">
                        <img src="assets/img/albums/masonry/album02.jpg" alt="Harley Davidson">
                    </div>
                    <h5>
                        <span>Commercial Photos</span>
                        Harley Davidson
                    </h5>
                    <a href="gallery-bricks-1x2.html" class="ashade-album-item__link"></a>
                </div><!-- .ashade-album-item -->
                <div class="ashade-album-item ashade-grid-item">
                    <div class="ashade-album-item__image">
                        <img src="assets/img/albums/masonry/album03.jpg" alt="Together Forever">
                    </div>
                    <h5>
                        <span>Love Story</span>
                        Together Forever
                    </h5>
                    <a href="gallery-grid-3columns.html" class="ashade-album-item__link"></a>
                </div><!-- .ashade-album-item -->
                <div class="ashade-album-item ashade-grid-item">
                    <div class="ashade-album-item__image">
                        <img src="assets/img/albums/masonry/album05.jpg" alt="Sunset Nature">
                    </div>
                    <h5>
                        <span>Nature Photos</span>
                        Sunset Nature
                    </h5>
                    <a href="gallery-masonry-4columns.html" class="ashade-album-item__link"></a>
                </div><!-- .ashade-album-item -->
                <div class="ashade-album-item ashade-grid-item">
                    <div class="ashade-album-item__image">
                        <img src="assets/img/albums/masonry/album04.jpg" alt="Girl on Farm">
                    </div>
                    <h5>
                        <span>Personal Session</span>
                        Girl on Farm
                    </h5>
                    <a href="gallery-ribbon-large.html" class="ashade-album-item__link"></a>
                </div><!-- .ashade-album-item -->
                <div class="ashade-album-item ashade-grid-item">
                    <div class="ashade-album-item__image">
                        <img src="assets/img/albums/masonry/album06.jpg" alt="City Tour">
                    </div>
                    <h5>
                        <span>Travel Photos</span>
                        City Tour
                    </h5>
                    <a href="gallery-masonry-3columns.html" class="ashade-album-item__link"></a>
                </div><!-- .ashade-album-item -->
                <div class="ashade-album-item ashade-grid-item">
                    <div class="ashade-album-item__image">
                        <img src="assets/img/albums/masonry/album08.jpg" alt="Colors of Nature">
                    </div>
                    <h5>
                        <span>Nature Photos</span>
                        Colors of Nature
                    </h5>
                    <a href="gallery-justified.html" class="ashade-album-item__link"></a>
                </div><!-- .ashade-album-item -->
                <div class="ashade-album-item ashade-grid-item">
                    <div class="ashade-album-item__image">
                        <img src="assets/img/albums/masonry/album07.jpg" alt="Auto Showroom">
                    </div>
                    <h5>
                        <span>Commercial Photo</span>
                        Auto Showroom
                    </h5>
                    <a href="gallery-adjusted-3columns.html" class="ashade-album-item__link"></a>
                </div><!-- .ashade-album-item -->
                <div class="ashade-album-item ashade-grid-item">
                    <div class="ashade-album-item__image">
                        <img src="assets/img/albums/masonry/album09.jpg" alt="Abandoned">
                    </div>
                    <h5>
                        <span>Travel Photos</span>
                        Abandoned
                    </h5>
                    <a href="gallery-ribbon-medium.html" class="ashade-album-item__link"></a>
                </div><!-- .ashade-album-item -->
                <div class="ashade-album-item ashade-grid-item">
                    <div class="ashade-album-item__image">
                        <img src="assets/img/albums/masonry/album11.jpg" alt="Let's Play">
                    </div>
                    <h5>
                        <span>Personal Session</span>
                        Let's Play
                    </h5>
                    <a href="gallery-ribbon-vertical.html" class="ashade-album-item__link"></a>
                </div><!-- .ashade-album-item -->
                <div class="ashade-album-item ashade-grid-item">
                    <div class="ashade-album-item__image">
                        <img src="assets/img/albums/masonry/album10.jpg" alt="True Love">
                    </div>
                    <h5>
                        <span>Love Story</span>
                        True Love
                    </h5>
                    <a href="gallery-slider-fade.html" class="ashade-album-item__link"></a>
                </div><!-- .ashade-album-item -->
                <div class="ashade-album-item ashade-grid-item">
                    <div class="ashade-album-item__image">
                        <img src="assets/img/albums/masonry/album12.jpg" alt="New Family">
                    </div>
                    <h5>
                        <span>Wedding Photos</span>
                        New Family
                    </h5>
                    <a href="gallery-bricks-2x3.html" class="ashade-album-item__link"></a>
                </div><!-- .ashade-album-item -->
            </div><!-- .ashade-albums-grid -->
        </div><!-- .ashade-col -->
    </div><!-- .ashade-row -->
</div><!-- #ashade-home-works -->