<!-- Home Background -->
<div class="ashade-home-background ashade-page-background is-video">
    <video src="assets/video/home-bg.mp4" poster="assets/img/bgs/bg-home01.jpg" muted autoplay loop></video>
</div>

<!-- Home Links and Titles -->
<div class="ashade-home-link--works ashade-home-link-wrap">
    <div class="ashade-home-link is-link" [routerLink]="'/products'">
        <span>{{'SAYFALAR.ANASAYFA.SOL-BASLIK-ACIKLAMA' | translate}}</span>
        <span>{{'SAYFALAR.ANASAYFA.SOL-BASLIK' | translate}}</span>
    </div>
</div><!-- .ashade-home-link-wrap -->
<div class="ashade-home-link--contacts ashade-home-link-wrap">
    <div class="ashade-home-link is-link" [routerLink]="'/contact'">
        <span>{{'SAYFALAR.ANASAYFA.SAG-BASLIK-ACIKLAMA' | translate}}</span>
        <span>{{'SAYFALAR.ANASAYFA.SAG-BASLIK' | translate}}</span>
    </div>
</div><!-- .ashade-home-link-wrap -->
