<footer id="ashade-footer">
    <div class="ashade-footer-inner">
        <div class="ashade-footer__socials">
            <ul class="ashade-socials">
                <li><a [href]="'FACEBOOK' | translate">Fb</a></li>
                <li><a [href]="'TWITTER' | translate">Tw</a></li>
                <li><a [href]="'INSTAGRAM' | translate">In</a></li>
                <li><a [href]="'YOUTUBE' | translate">Yt</a></li>
            </ul>
        </div>
        <div class="ashade-footer__copyright">
            {{'ALT-BILGI' | translate}}
        </div>
    </div>
</footer>