.category-title {
    color: rgba($color: #FFFFFF, $alpha: 0.5);
    margin-bottom: 0px;
}
.category-title--hr {
    border-color: rgba($color: #FFFFFF, $alpha: 0.5);
}
.category-top-margin {
    margin-top:42px;
}