.category-title {
    color: rgba($color: #ffffff, $alpha: 0.5);
    margin-bottom: 0px;
}
.category-title--hr {
    border-color: rgba($color: #ffffff, $alpha: 0.5);
}
.category-top-margin {
    margin-top: 42px;
}

.category-group-product {
    .ashade-col {
        .cont {
            padding: 4px;
            border-top: 1px solid rgba(255, 255, 255, 0.7);
        }

        span {
            transition: color 0.3s;
            text-transform: uppercase;
            &:hover {
                cursor: pointer;
                color: white;
            }
            &.active {
                text-decoration: underline;
                cursor: pointer;
                color: white;
            }
        }
    }
}
h5 {
    margin-bottom:8px;
}
.margin-top {
    margin-top: 24px;
}
