<app-loading *ngIf="!categories"></app-loading>

<div class="ashade-page-title-wrap">
    <h1 class="ashade-page-title">
        <span>{{'SAYFALAR.URUNLER.SOL-BASLIK-ACIKLAMA' | translate}}</span>{{'SAYFALAR.URUNLER.SOL-BASLIK' | translate}}
    </h1>
</div>

<main class="ashade-content-wrap">
    <div class="ashade-content-scroll">
        <div class="ashade-content" *ngIf="categories">
            <section class="ashade-section">
                <div class="ashade-row category-group-product">
                    <div class="ashade-col col-4">
                        <h5>{{'SAYFALAR.URUNLER.KATEGORI' | translate}}</h5>
                        <div class="cont">
                            <div (click)="selectedCategory=h;selectedGroup=0" *ngFor="let category of categories;let h =index;">
                                <span [ngClass]="{'active': selectedCategory==h}">{{category.name}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="ashade-col col-4">
                        <h5>{{'SAYFALAR.URUNLER.GRUP' | translate}}</h5>
                        <div class="cont">
                            <div (click)="selectedGroup=i"
                                *ngFor="let group of categories[selectedCategory].groups;let i =index;">
                                <span [ngClass]="{'active': selectedGroup==i}">{{group.name}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="ashade-col col-4">
                        <h5>{{'SAYFALAR.URUNLER.URUN' | translate}}</h5>
                        <div class="cont">
                            <div *ngFor="let product of categories[selectedCategory].groups[selectedGroup].products">
                                <span (click)="locateLink(product.link, product.name)">{{product.name}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ashade-row margin-top">
                    <div class="ashade-col col-12">
                        <ng-container *ngFor="let category of categories">
                            <h3 class="category-title">{{category.name}}</h3>
                            <hr class="category-title--hr">
                            <div class="ashade-albums-grid ashade-grid ashade-grid-3cols">
                                <div class="ashade-album-item ashade-grid-item" *ngFor="let group of category.groups">
                                    <h5>{{group.name}}</h5>
                                    <br>
                                    <div class="ashade-album-item__image">
                                        <img [src]="group.image+'?width=800'" alt="My Special Day" width="800" height="640">
                                    </div>
                                    <br>
                                    <span>{{group.description}}</span>
                                    <div class="align-right">
                                        <a [routerLink]="group.link" class="ashade-learn-more">Devamı</a>
                                    </div>
                                    <a [href]="group.link" class="ashade-album-item__link"></a>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </section>
        </div>
        <app-footer></app-footer>
    </div>

</main>