<app-loading *ngIf="!categories"></app-loading>

<div class="ashade-page-title-wrap">
    <h1 class="ashade-page-title">
            <span>
                <a [routerLink]="'/'+translate.currentLang+'/'">/</a>
                >
                <a [routerLink]="'/'+translate.currentLang+'/products'">{{'MENU.URUNLER'|translate}}</a>
            </span><p>{{'SAYFALAR.URUNLER.SOL-BASLIK' | translate}}</p>
    </h1>
</div>

<main class="ashade-content-wrap">
    <div class="ashade-content-scroll">
        <div class="ashade-content" *ngIf="categories">
            <section class="ashade-section">
                <div class="product-showroom">
                    <div class="ashade-row showroom-top">
                        <div class="ashade-col col-4 showroom-top--category">
                            <div id="dl-menu" class="dl-menuwrapper">
                                <button class="dl-trigger">{{'SAYFALAR.URUNLER.KATEGORI' |translate}} <i class="la la-angle-down"></i></button>
                                <ul class="dl-menu">
                                    <li *ngFor="let category of categories;let h =index;">
                                        <a href="#">{{category.name}}</a>
                                        <ul class="dl-submenu">
                                            <li class="dl-back"><a href="#">{{category.name}}</a></li>
                                            <li *ngFor="let group of category.groups">
                                                <a href="#">{{group.name}}</a>
                                                <ul class="dl-submenu">
                                                    <li class="dl-back"><a href="#">{{group.name}}</a></li>
                                                    <li *ngFor="let product of group.products"><a
                                                            [routerLink]="product.link">{{product.name}}</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="ashade-col col-8 showroom-top--search">
                            <input type="text" [placeholder]="'SAYFALAR.URUNLER.ARAMA' |translate" #searchInput (keyup)="search($event)"><i
                                class="la la-search search-icon-left"></i>
                            <div class="search-area" #searchArea [ngStyle]="{'max-width.px': searchMaxWidth}"
                                [ngClass]="{'search-area':true, 'active':searchActive}">
                                <div *ngFor="let data of searchResults" class="search-item">
                                    <a [routerLink]="data.link">
                                        <img [src]="data.image+'?width=80'" [attr.alt]="data.name">
                                        <span>{{data.name}}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ashade-row margin-top">
                    <div class="ashade-col col-12">
                        <div *ngFor="let category of categories" class="category-area">
                            <h3 class="category-title">{{category.name}}</h3>
                            <hr class="category-title--hr">
                            <div class="ashade-albums-grid ashade-grid ashade-grid-3cols">
                                <div class="ashade-album-item ashade-grid-item" *ngFor="let group of category.groups" [title]="group.name">
                                    <div class="ashade-album-item__image product-item--thumbnail">
                                        <img [src]="group.image+'?width=400'" [alt]="group.name">
                                    </div>
                                    <a [routerLink]="group.link" class="ashade-album-item__link"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <app-footer></app-footer>
    </div>

</main>