.error-border {
    margin-bottom: 20px;
}

.error-field {
    color: #FF5555;
    font-size: 10px;
}

.contact-input {
    margin: 0px 0px 0px 0px !important;
}

.ashade-contact-icon {
    width: 40px;
    height: 40px;
    border: 2px solid #5C5C60;
    border-radius: 20px;
    text-align: center;
    font-size: 24px;
    line-height: 36px;
    transform: translateY(-4px);
    position: absolute;
    left: 0;
    top: 0;
}