<!-- Content -->
<div class="ashade-albums-carousel-wrap">
    <div class="ashade-albums-carousel is-medium" id="albums_carousel">
        <div class="ashade-album-item" *ngFor="let product of data">
            <div class="ashade-album-item__inner">
                <img [src]="product.image" alt="52" width="1000" height="1200">
                <div class="ashade-album-item__overlay"></div>
                <div class="ashade-album-item__title">
                    <h2>{{product.name}}</h2>
                </div>
                <a [href]="'/product/'+product.id" class="ashade-button">Devamı</a>
            </div>
        </div>
    </div><!-- .ashade-albums-carousel -->
    <div class="ashade-albums-carousel-progress">
        <div class="ashade-albums-carousel-progress__bar"></div>
    </div>
</div><!-- .ashade-albums-carousel-wrap -->