<app-header></app-header>
<router-outlet></router-outlet>
<app-footer *ngIf="pages.isFooter"></app-footer>
<div *ngIf="pages.isHomeBlockOverlayVisible" class="ashade-home-block-overlay"></div>
<div class="ashade-menu-overlay"></div>
<div class="ashade-cursor is-inactive">
    <span class="ashade-cursor-circle"></span>
    <span class="ashade-cursor-slider"></span>
    <span class="ashade-cursor-close ashade-cursor-label">Close</span>
    <span class="ashade-cursor-zoom ashade-cursor-label">Zoom</span>
</div>