.product-header {

    margin-bottom: 24px;
    h4 {
        margin-bottom: 0px;
        color: rgba($color: #ffffff, $alpha: 0.5)
    }

    hr {
        width: 50%;
        float: left;
        border-color: rgba($color: #ffffff, $alpha: 0.5)
    }
}

.product-image-gallery {
    padding: 0px 20px 0px 20px;
}

.margin-bot-50px {
    margin-bottom: 50px;
}