<ng-container  *ngIf="data">
<div class="ashade-page-title-wrap">
    <h1 class="ashade-page-title">
        <span>
            <a [routerLink]="'/'+translate.currentLang+'/'">/</a>
            >
            <a [routerLink]="'/'+translate.currentLang+'/products'">{{'MENU.URUNLER'|translate}}</a>
            >
            <a [routerLink]="data.link">{{data.name}}</a>
        </span><p>{{data.name}}</p>
    </h1>
</div>
<!-- Content -->
<div class="ashade-albums-carousel-wrap">
    <div class="ashade-albums-carousel is-medium" id="albums_carousel">
        <div class="ashade-album-item" *ngFor="let product of data.products">
            <div class="ashade-album-item__inner">
                <img [src]="product.image+'?width=1000'" alt="52" width="1000" height="1000">
                <div class="ashade-album-item__overlay"></div>
                <div class="ashade-album-item__title">
                    <h2>{{product.name}}</h2>
                </div>
                <!-- <a [routerLink]="'/'+translate.currentLang+product.link" class="ashade-button">Devamı</a> -->
                <a [routerLink]="'/'+translate.currentLang+product.link" class=" ashade-button ashade-album-item__link"></a>
            </div>
        </div>
    </div><!-- .ashade-albums-carousel -->
    <div class="ashade-albums-carousel-progress">
        <div class="ashade-albums-carousel-progress__bar"></div>
    </div>
</div><!-- .ashade-albums-carousel-wrap -->
<div class="ashade-back-wrap">
    <div class="ashade-back">
        <span><a [routerLink]="'/'+translate.currentLang+'/products'">Dönüş Yap</a></span>
        <span><a [routerLink]="'/'+translate.currentLang+'/products'">Geri</a></span>
    </div>
</div>
</ng-container>
<app-footer></app-footer>