<header id="ashade-header">
    <div class="ashade-header-inner">
        <div class="ashade-logo-block">
            <a href="/" class="ashade-logo is-retina">
                <img src="/assets/logo/logo-64x64.png" alt="Logo">
            </a>
        </div>
        <div class="ashade-nav-block">
            <nav class="ashade-nav">
                <ul class="main-menu">
                    <li routerLinkActive="current-menu-ancestor" [routerLinkActiveOptions]="{exact: true}">
                        <a href="/">{{'MENU.ANASAYFA' | translate}}</a>
                    </li>
                    <li routerLinkActive="current-menu-ancestor" [routerLinkActiveOptions]="{exact: true}">
                        <a href="/about">{{'MENU.HAKKIMIZDA' | translate}}</a>
                    </li>
                    <li routerLinkActive="current-menu-ancestor" [routerLinkActiveOptions]="{exact: true}">
                        <a href="/products">{{'MENU.URUNLER' | translate}}</a>
                    </li>
                    <li routerLinkActive="current-menu-ancestor" [routerLinkActiveOptions]="{exact: true}">
                        <a href="/news">{{'MENU.HABERLER' | translate}}</a>
                    </li>
                    <li routerLinkActive="current-menu-ancestor" [routerLinkActiveOptions]="{exact: true}">
                        <a href="/contact">{{'MENU.ILETISIM' | translate}}</a>
                    </li>
                    <li class="current-menu-item">
                        <a href="#">
                            {{selectedLanguage}} <span class="caret"></span> </a>
                        <ul class="sub-menu">
                            <li class="current-menu-item" *ngFor="let language of languages">
                                <a [href]="'?lang='+language.code">
                                    <img [src]="language.flagUrl" width="24px" />{{language.name}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>