<header id="ashade-header">
    <div class="ashade-header-inner">
        <div class="ashade-logo-block">
            <a href="/" class="ashade-logo is-retina">
                <img src="https://via.placeholder.com/64" alt="Logo">
            </a>
        </div>
        <div class="ashade-nav-block">
            <nav class="ashade-nav">
                <ul class="main-menu">
                    <li routerLinkActive="current-menu-ancestor" [routerLinkActiveOptions]="{exact: true}">
                        <a href="/">Ana Sayfa</a>
                    </li>
                    <li routerLinkActive="current-menu-ancestor" [routerLinkActiveOptions]="{exact: true}">
                        <a routerLink="/about">Hakkımızda</a>
                    </li>
                    <li routerLinkActive="current-menu-ancestor" [routerLinkActiveOptions]="{exact: true}">
                        <a routerLink="/products">Ürünler</a>
                    </li>
                    <li routerLinkActive="current-menu-ancestor" [routerLinkActiveOptions]="{exact: true}"> 
                        <a routerLink="/news">Haberler</a>
                    </li>
                    <li routerLinkActive="current-menu-ancestor" [routerLinkActiveOptions]="{exact: true}">
                        <a routerLink="/contact">İletişim</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>