<header id="ashade-header">
    <div class="ashade-header-inner">
        <div class="ashade-logo-block">
            <a href="/" class="ashade-logo is-retina">
                <img src="https://via.placeholder.com/64" alt="Logo">
            </a>
        </div>
        <div class="ashade-nav-block">
            <nav class="ashade-nav">
                <ul class="main-menu">
                    <li>
                        <a href="#">Ana Sayfa</a>
                    </li>
                    <li>
                        <a href="#">Hakkımızda</a>
                    </li>
                    <li>
                        <a href="#">Ürünler</a>
                    </li>
                    <li>
                        <a href="#">Haberler</a>
                    </li>
                    <li><a href="contacts.html">İletişim</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>